.speech{
    color: yellowgreen;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .stage-direction :hover
    {
        color: rgba(144, 238, 144, 0);
        font-size: 18px ;
        font-family: 'Times New Roman', Times, serif;
    }
    .name{
        color: red;
        font-size: 18px;
        font-family: 'Times New Roman', Times, serif;
    }
.MORANZONE{
    color:blue;
    
}
.GUIDO{
    color: green;

}
.ASCANIO{
    color:darkgreen;
}