.speech{
    color: yellowgreen;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .speech:hover{
        color: darkred;
    }
    .stage-direction :hover
    {
        color: rgba(144, 238, 144, 0);
        font-size: 18px ;
        font-family: 'Times New Roman', Times, serif;
    }
    .name{
        color: red;
        font-size: 18px;
        font-family: 'Times New Roman', Times, serif;
    }
    .name:hover{
        color: darkblue;
    }
.MORANZONE{
    color:blue;
    
}
.GUIDO{
    color: green;

}
.ASCANIO{
    color:darkgreen;
}


table{
    border: 2px yellowgreen;
    text-align: left;
    border-style: solid;
    border-collapse: collapse;
    width: 10%;
}
th{
    border: 2px blue;
    text-align: left;
    border-style: solid;
    
}
td{
    border: 2px chocolate;
    text-align: left;
    border-style: solid;
    width: 100%;
}
ul.su {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li.su {
    float: left;
    display: inline;
  }
  
  li.su a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration:darkred
  }
  